@media screen and (min-width: 480px) {

    div>ul {

        display: flex;
        list-style: none;
        justify-content: space-evenly;
        padding: 0px;

    }

    div {

        width: 850px;
        margin: auto;

    }

    div>ul>li {

        font-size: 20px;
        background-color: white;
        border: 2px solid skyblue;
        border-radius: 10px;
        padding: 10px 25px;
        color: navy;
        text-align: center;

    }

}
@media screen and (max-width: 480px) {

    div>ul {

        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: space-evenly;
        height: fit-content;
        margin: auto;
        padding: 0px;

    }

    div>ul>li {

        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: white;
        border: 2px solid skyblue;
        border-radius: 10px;
        color: navy;
        text-align: center;
        padding: 10px 15px;
        width: 85px;

    }

    div {

        margin: auto;
        width: fit-content;
        height: fit-content;

    }

}

body {

    margin: 50px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;

}